:root {
    --black-color: #000000;
    --white-color: #ffffff;

    --primary-color: #FF7527;
	--secondary-color: #E9E6E4;

	// --highlight-color: ;

    --error-color: #B40404;
    --warning-color: #FC5C04;
    --success-color: #046C4C;
}