// =============================================================================
// Internal colors
// =============================================================================
$spacer: 10px;

// =============================================================================
// Public colors
// =============================================================================
:root {
  --spacer-sm: #{$spacer * 0.5};
  --spacer: #{$spacer};
  --spacer-md: #{$spacer * 2};
  --spacer-lg: #{$spacer * 4};
}
