<html>
  <head>
    <meta charset='utf-8' />
    <title>Example App</title>

    {{#if isProd}}
    <link rel="stylesheet" href="{{ css }}" />
    {{/if}}
  </head>
  <body>
    {{> header}}

    {{{body}}}

    {{#if isProd}}
      <script type="module" src="{{ js }}"></script>
    {{ else }}
      <script type="module" src="@vite/client"></script>
      <script
        type="module"
        src="/src/main.js"></script>
    {{/if}}
  </body>
</html>