:root {
  --black-color: #000000;
  --white-color: #ffffff;

  --primary-color: #ff7527;
  --secondary-color: #e9e6e4;

  // --highlight-color: ;

  --error-color: #b40404;
  --warning-color: #fc5c04;
  --success-color: #046c4c;
}
